<?xml version="1.0" encoding="utf-8" ?>

<Dictionary>

	<Value userCommand="test_upr" deviceCommand="test:upr" />
	<Value userCommand="set_upr_prf" deviceCommand="set:upr:prf" />
	<Value userCommand="set_upr_external_prf" deviceCommand="set:upr:external:prf" />

	<Value userCommand="set_upr_channel_enable" deviceCommand="set:upr:channel:enable" />
	<Value userCommand="set_upr_channel_delay" deviceCommand="set:upr:channel:delay" />
	<Value userCommand="set_upr_channel_range" deviceCommand="set:upr:channel:range" />
	<Value userCommand="set_upr_channel_gain" deviceCommand="set:upr:channel:gain" />
	<Value userCommand="set_upr_channel_pulser_filter" deviceCommand="set:upr:channel:pulser:filter" />
	<Value userCommand="set_upr_channel_reciever_filter" deviceCommand="set:upr:channel:reciever:filter" />
	<Value userCommand="set_upr_channel_prescale" deviceCommand="set:upr:channel:prescale" />
	<Value userCommand="set_upr_channel_gate_range" deviceCommand="set:upr:channel:gate:range" />
	<Value userCommand="add_upr_channel_gate" deviceCommand="add:upr:channel:gate" />
	<Value userCommand="remove_upr_channel_gate" deviceCommand="remove:upr:channel:gate" />

	<Value userCommand="set_pulser_amplitude" deviceCommand="set:pulser:amplitude" />
	<Value userCommand="set_pulser_pulse_width" deviceCommand="set:pulser:pulsewidth" />
	<Value userCommand="set_receiver_mode" deviceCommand="set:receiver:mode" />
	<Value userCommand="set_receiver_mode_ch0_PE" deviceCommand="set:receiver:mode 0,0" />
	<Value userCommand="set_receiver_mode_ch0_TT" deviceCommand="set:receiver:mode 0,1" />
	<Value userCommand="set_receiver_mode_ch0_TR" deviceCommand="set:receiver:mode 0,2" />

</Dictionary>
